
body{
    margin: 150px 30px;

}

h1,
h2{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 50px;
}

h3{
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 35px;
}

h4{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.plus{
    width: 260px;
}

.navigation-links a{
    padding: 10px 25px;
    font-size: larger;
    font-family: 'Kalam', cursive;
}


