h1,
h2{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 50px;
}

h3{
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 35px;
}

h4{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 30px;
}

a{
    text-decoration: none;
}

p{
    line-height: 30px;
}

.body{
    margin: 120px 30px;
}

.plus{
    width: 260px;
}

.navigation-links a{
    padding: 10px 25px;
    font-size: larger;
    font-family: 'Kalam', cursive;
}

.project-description{
    padding: 40px 60px;
}

.project-description a{
    font-family: 'Kalam', cursive;
}

.info h4{
    line-height: 43px;
}

.icon{
    margin: 0px 54px;
}

.email{
    margin-left: 110px;
}

.contact h4{
    font-size: 20px;
}

.insta{
    margin-left: 24px;
}

@media (max-width: 700px) {
    .project-description{
        text-align: center;
    }

    .information h2{
        text-align: center;
    }

    .information h3{
        font-size: 20px;
        text-align: center;
    }

    .information h4{
        font-size: 15px;
        line-height: 24px;
        text-align: center;
    }

    .icon{
        margin: 0px 0px 0px 58px;
    }
}


