
body{
    margin: 100px 30px;

}

h1,
h2{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7); 
}

h3{
    font-family: 'Kalam', cursive;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

h4{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.plus{
    width: 200px;
    margin: 0px;
}